.productReviewsContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: #f1f1;
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  
  height: 100vh;
  padding: 30px;
}

.productReviewsForm {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top:60PX ;
  padding: 3vmax;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 10px;
  background-color: white;
}

.productReviewsFormHeading {
  color: rgba(0, 0, 0, 0.733);
  font: 300 2rem "Arial";
  text-align: center;
}

.productReviewsForm > div {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 2rem;
}
.productReviewsForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax Arial;
  outline: none;
}

.productReviewsForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

@media screen and (max-width: 600px) {
  .productReviewsContainer {
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.158);
  }
  .productReviewsForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .productReviewsForm > div > svg {
    font-size: 2.8vmax;
  }
}
