// .sidebar {
//   background-color: rgb(255, 255, 255);
//   display: flex;
//   flex-direction: column;
//   padding: 4rem 0;
// }

// .sidebar > a:first-child {
//   padding: 0;
// }
// .sidebar > a > img {
//   width: 100%;
//   transition: all 0.5s;
// }

// .sidebar > a > img:hover {
//   filter: drop-shadow(0 0 10px tomato);
// }
// .sidebar a {
//   text-decoration: none;
//   color: rgba(0, 0, 0, 0.493);
//   font: 200 1rem "Roboto";
//   padding: 2rem;
//   transition: all 0.5s;
// }
// .sidebar a:hover {
//   color: tomato;
//   transform: scale(1.1);
// }

// .sidebar a > P {
//   display: flex;
//   align-items: center;
// }
// .sidebar a > p > svg {
//   margin-right: 0.5rem;
// }

// .MuiTypography-root {
//   background-color: #fff !important;
// }


@import "https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/dashboard.scss";
$bg: #1b2431;
$light-text: #738297;
$dark-text: #273142;
$light-bg: #313D4F;

// global stuff
.con{

	color:white;
	font-family: "Montserrat", "Helvetica", "Open Sans", "Arial";
	font-size: 13px;
	// margin: 100px;
	
}

a:hover {
	text-decoration: none;
}

p,
figure {
	margin: 0;
	padding: 0;
}

@mixin clear() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	
	&:after {
		clear: both;
	}
}

.sidebar{
	background-color: $bg;
}

.sidebar {
	// background-color: $bg;
	box-shadow: none;

	.nav-link {
		border-left: 5px solid transparent;
		color: $light-text;
		padding: .5rem .75rem;
		
		&:hover {
			color: white;
		}
		
		&.active {
			border-left: 5px solid $light-text;
			color: white;
		}
	}
	
	.zmdi {
		display: inline-block;
		font-size: 1.35rem;
		margin-right: 5px;
		min-width: 25px;
	}
}

.card-list {
	@include clear();
	width: 100%;
}

.card {
	border-radius: 8px;
	color: white;
	padding: 10px;
	position: relative;

	.zmdi {
		color: white;
		font-size: 28px;
		opacity: 0.3;
		position: absolute;
		right: 13px;
		top: 13px;
	}
	
	.stat {
		border-top: blue;
		font-size: 8px;
		margin-top: 25px;
		padding: 10px 10px 0;
		text-transform: uppercase;
	}
	
	.title {
		display: inline-block;
		font-size: 8px;
		padding: 10px 10px 0;
		text-transform: uppercase;
	}
	
	.value {
		font-size: 28px;
		padding: 0 10px;
	}
	
	&.blue {
		background-color: #2298F1;
	}
	
	&.green {
		background-color: #66B92E;
	}
	
	&.orange {
		background-color: #DA932C;
	}
	
	&.red {
		background-color: #D65B4A;
	}
}

.projects {
	background-color: $dark-text;
	border: 1px solid $light-bg;
	overflow-x: auto;
	width: 100%;
	
	&-inner {
		border-radius: 4px;
	}
}

.projects-header {
	color: white;
	padding: 22px;

	.count,
	.title {
		display: inline-block;
	}
	
	.count {
		color: #738297;
	}
	
	.zmdi {
		cursor: pointer;
		float: right;
		font-size: 16px;
		margin: 5px 0;
	}
	
	.title {
		font-size: 21px;
		
		+ .count {
			margin-left: 5px;
		}
	}
}

.projects-table {
	background:white;
	width: 100%;
	
	td,
	th {
		color: white;
		padding: 10px 22px;
		vertical-align: middle;
	}
	
	td p {
		font-size: 12px;
		
		&:last-of-type {
			color: $light-text;
			font-size: 11px;
		}
	}
	
	th {
		background-color: $light-bg;
	}
	
	tr {
		&:hover {
			background-color: lighten($dark-text, 5%);
		}
		
		&:not(:last-of-type) {
			border-bottom: 1px solid $light-bg;
		}
	}
	
	.member {
		figure,
		.member-info {
			display: inline-block;
			vertical-align: top;
		}
		
		figure + .member-info {
			margin-left: 7px;
		}
		
		img {
			border-radius: 50%;
			height: 32px;
			width: 32px;
		}
	}
	
	.status > form {
		float: right;
	}
	
	.status-text {
		display: inline-block;
		font-size: 12px;
		margin: 11px 0;
		padding-left: 20px;
		position: relative;
		
		&:before {
			border: 3px solid;
			border-radius: 50%;
			content: "";
			height: 14px;
			left: 0;
			position: absolute;
			top: 1px;
			width: 14px;
		}
		
		&.status-blue:before {
			border-color: #1C93ED;
		}
		
		&.status-green:before {
			border-color: #66B92E;
		}
		
		&.status-orange:before {
			border-color: #DA932C;
		}
		
		&.status-red:before {
			border-color: #D65B4A;
		}
	}
}
// selectric plugin styling
.selectric {
	background-color: transparent;
	border-color: $light-bg;
	border-radius: 4px;
	.label {
		color: $light-text;
		line-height: 34px;
		margin-right: 10px;
		text-align: left;
	}
	&-wrapper {
		float: right;
		width: 150px;
	}
}
// charts
.chart {
	border-radius: 3px;
	// box-shadow: 0 0 10px -3px black;
	border: 1px solid $light-bg;
	color: white;
	padding: 10px;
	position: relative;
	text-align: center;
	
	canvas {
		height: 400px;
		margin: 20px 0;
		width: 100%;
	}
	
	.actions {
		margin: 15px;
		position: absolute;
		right: 0;
		top: 0;

		span {
			cursor: pointer;
			display: inline-block;
			font-size: 20px;
			margin: 5px;
			padding: 4px;
		}
		
		.btn-link {
			color: white;

			i {
			    font-size: 1.75rem;
			}
		}
	}
	
	.title {
		font-size: 18px;
		margin: 0;
		padding: 15px 0 5px;
		+ .tagline {
			margin-top: 10px;
		}
	}
	
	.tagline {
		font-size: 12px;
	}
}

.danger-item {
	border-left: 4px solid #A84D43;
}

.zmdi {
	line-height: 1;
	vertical-align: middle;
}


.page-clock-container {
    left: 0;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}
/*Large Clock Page Animation*/
#PageClock_Date,.pageclock-info,#PageClock_Time{
    margin: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*Large Clock Page Date*/
#PageClock_Date{
	color: #6b6b6b;
    font-family: cursive;
    font-size: 36px;
    text-shadow: 0 2px 2px #000;
}
/*Large Clock Page Info*/
.pageclock-info {
    color: #454748;
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

/*Large Clock Page Info Credit*/
.pageclock-info a {
    color: #b8c1e6;
    text-decoration: none;
}

/*Large Clock Page Time*/
#PageClock_Time {
    color: #6b6b6b;
    font-size: 190px;
    font-weight: 700;
    text-align: center;
    font-family: cursive;
    text-shadow: 0 5px 3px #000;
}
#PageClock_Date:hover,.pageclock-info:hover,#PageClock_Time:hover{
	color:#fff;
}
@media screen and (max-width: 1190px) {
/*Large Clock Page Date*/
#PageClock_Date {
    font-size: 30px;
}
/*Large Clock Page Time*/
#PageClock_Time {
    font-size: 140px;
}
}
@media screen and (max-width: 900px) {
/*Large Clock Page Date*/
#PageClock_Date {
    font-size: 28px;
}
/*Large Clock Page Info*/
.pageclock-info {
    font-size: 11px;
}
/*Large Clock Page Time*/
#PageClock_Time {
    font-size: 115px;
}
}
@media screen and (max-width: 750px) {
/*Large Clock Page Date*/
#PageClock_Date {
    font-size: 26px;
}
/*Large Clock Page Info*/
.pageclock-info {
    font-size: 0;
}
/*Large Clock Page Time*/
#PageClock_Time {
    font-size: 85px;
}
}
@media screen and (max-width: 550px) {
/*Large Clock Page Date*/
#PageClock_Date {
    font-size: 20px;
}
/*Large Clock Page Time*/
#PageClock_Time {
    font-size: 60px;
}
}
@media screen and (max-width: 400px) {
/*Large Clock Page Date*/
#PageClock_Date {
    font-size: 15px;
}
/*Large Clock Page Time*/
#PageClock_Time {
    font-size: 40px;
}
}
@media screen and (max-width: 260px) {
/*Large Clock Page Date*/
#PageClock_Date {
    font-size: 10px;
}
/*Large Clock Page Time*/
#PageClock_Time {
    font-size: 25px;
}
}