.loader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #f1f1;
   transition: opacity 0.75s, visibility 0.75s;
 }
 
 .loader--hidden {
   opacity: 0;
   visibility: hidden;
 }
 
 .loader::after {
   content: "";
   width: 50px;
   height: 50px;
   border: 9px solid #dddddd;
   border-top-color: #009578;
   border-radius: 50%;
   animation: loading 0.75s ease infinite;
 }
 
 @keyframes loading {
   from {
     transform: rotate(0turn);
   }
   to {
     transform: rotate(1turn);
   }
 }
 