.MuiStepConnector-line {
  display: none !important;

  background-color: #f1f2;
}

.MuiStepConnector-root {
  height: 3px;
  background-color: rgba(49, 19, 19, 0.349);
 
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  
  height: 3px;
  background-color: dodgerblue;


}

