@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Island+Moments&family=Open+Sans:wght@800&family=Pacifico&display=swap');
.Fragment{
   background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.banner {
  /* background-image: url("../../images/cover.jfif"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  
 

}

.banner > h1 {
  margin: 5vmax;

  font: 600 2.5vmax "Roboto";
}

.banner > p {
  font: 300 1.4vmax "Lucida Sans";
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
}

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);


}

.container {
  display: flex;
  margin: 80px;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  
  /* background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 50%, #ffffff 100%); */
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.productCard > img {
  width: 14vmax;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: tomato;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}


.card1{
    display: flex;
    justify-content: space-around;

}





/* 
.slider{
  width: 100%;
  height: 100%;
  background-color: black;
  background: no-repeat;
  background-size: cover;
  background-image: url(./images/c1.jpg);
  animation: slide 20s infinite;
} */

/* @keyframes slide{
  25%{
    background-image: url(./images/c2.jpg);
  
  }
  50%{
    background-image: url(./images/c3.jpg);
  

  }
  75%{
    background-image: url(./images/c4.jpg);
   

  }
  100%{
    background: url(./images/i1.jpg);
    background: no-repeat;

  }
} */


.homePage{
margin: 4rem;


width: 100%;
margin-right: 20px;
}

.homePage1{

  margin: 2.8rem;
  width: 61%;
  height: 95%;
  /* margin-top: -100px; */
  background-image: url(./images/avan1.png);
  /* background:no-repeat; */
  /* margin-bottom: 120px; */
  padding: 100px;
  animation: slide 20s infinite;
  
}

.btnnnnn{
   display: flex;
  justify-content: center;
  align-items: center;
  ;
}


.hhome{
  height: 500px;
  display: flex;
  /* margin: 4rem; */
  color:white
  
}
.hh{
   background: no-repeat;
   background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}


 

.easy{
  font-family: 'DM Sans', sans-serif;
  font-family: 'Island Moments', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Pacifico', cursive;
  /* color: white; */
}




.banner2{
  border-radius: 25px;
  text-align: left;
  padding: 35px;
  background: none;
  text-align: center;
  color: white;
  font-family: Arial;
  font-size: 35px;
}
.body1{
  display: flex;
}

.Free{
  border-radius: 25px;
  color: white;
  font-family: Arial;
  width: 1000px;
  border: 25px;
  padding: 25px;
  margin: 25px;
  background: #252f3b;
  float: left;
}

.Medium{
  border-radius: 25px;
  color: white;
  font-family: Arial;
  text-align: left;
  width: 1000px;
  border: 25px;
  padding: 25px;
  margin: 25px;
  background: #252f3b;
  float: left;
}

.Pro{
  border-radius: 25px;
  color: white;
  font-family: Arial;
  text-align: left;
  width: 1000px;
  border: 25px;
  padding: 25px;
  margin: 25px;
  background: #252f3b;
  float: right;
  clear: none;
}

.button{
  border-radius: 25px;
  background-color: #7d6ee5;
  text-align: center;
  border: none;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 97%;
}

.buttons{
  border-radius: 25px;
  background-color: #59e0d2;
  text-align: center;
  border: none;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 97%;
}

.gang{
  font-family: courier;
}